*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
    display: inline-block;
}

.logo{
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.navaddress{
    color: #cccccc;
    font-size: 12px;
    height: 50px;
    width: 70px;
    text-align: center;
    margin-left: 5px;
}

.addicon{
    color: #ffffff;
    font-size: 14px;
    display: flex;
    align-items: center;
    align-content: center;
}

#add1{
    margin-left: 15px;
    margin-top: 5px;
}

#add2{
    margin-top: 2px;
}

#category{
    /* margin-left: 10px; */
    height: 40px;
    width: 60px;
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

#search{
    height: 38px;
    width: 750px;
    position: relative;
    right: 1px;
    border: none;
    font-size: 14px;
}

.navsearch{
    display: flex;
    align-items: center;
    align-content: center;
    width: 850px;
    height: 40px;
    justify-content: space-evenly;
}

.searchicon{
    width: 45px;
    height: 40px;
    background-color: #febd68;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:#0f1111 ;
    position: relative;
    right: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.lan{
    color: white;
    background-color: #0f1111;
    border: none;
}

.navsignin{
    color: #f3f3f3;
    height: 50px;
    
}

.signin1{
    font-size: 10px;
    position: relative;
    top: 10px;
}

.signin2{
    font-size: 14px;
    font-weight: 700;
    position: relative;
    top: 10px;
}

.navsearch:hover{
    border: 2px solid orange;
    border-radius: 8px;
}

.navcart{
    color: #f3f3f3;
    font-size: 30px;
    display: flex;
    height: 50px;
}

.cart{
    font-size: 14px;
    position: relative;
    top: 20px;
    font-weight: 700;
}

.carticon{
    position: relative;
    top: 10px;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panelops p{
    display: inline;
    margin-left: 15px;
}

.panelops{
    width: 80%;
    font-size: 14px;
}

.paneldeals{
    font-size: 15px;
    font-weight: 700;
}

.herosection{
    background-image: url("heroimage.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.heromsg{
    background-color: #f5f6f6;
    height: 40px;
    width: 1230px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-bottom: 30px;
}

.heromsg a {
    text-decoration: none;
    color: #007185;
}

.shopsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #9CA4B3;
    height: 1450px;
}

.box{
    height: 370px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;

}

.boxcontent{
    margin-left: 20px;
    margin-right: 20px;
}

.boxcontent a{
    text-decoration: none;
    color: #007185;
}

.box1img{
    background-image: url("box1img.png");
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box2img{
    background-image: url("box2img.png");
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box3img{
    background-image: url("box3img.png");
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box4img{
    background-image: url("box4img.png");
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box5img{
    background-image: url("box5img.png");
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box6img{
    background-image: url("box6img.png");
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box7img{
    background-image: url("box7img.png");
    height: 300px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box8img{
    background-image: url("box8img.png");
    height: 300px;
    background-size: cover;
    margin-bottom: 10px;
}

.box9{
    height: 220px;
    width: 1472px;
    background-color: #ffffff;
    padding: 20px 0px 15px;
}

.box9img{
    background-image: url("box9img.png");
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 180px;
}

.box10{
    height: 220px;
    width: 1472px;
    background-color: #ffffff;
    padding: 20px 0px 15px;
}

.box10img{
    background-image: url("box10img.png");
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 180px;
}